<div class="d-flex flex-row-reverse">
    <div class="d-flex flex-column">
        <small class="text-end text-secondary mt-2">peeps</small>
        <span class="p-2 bg-primary-subtle round shadow-sm chat-baloon">
            <%= message.body %>
        </span>
    </div>
</div>